*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3{
  display: inline;
}
.home-container{
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-image-container>img{
  max-width: 130px;
}
.home-image-container{
  display: flex;
}
.home-image-container>h1{
  margin-top: 2rem;
}

.pokedex-container{
  display: flex;
  flex-direction: column;

  margin: 0 15%;
  padding-top: 5rem;
  gap: 2rem;
}
.pokedex-forms{
  padding: 0 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.8rem;
}
#types{
  width: 400px;
  height: 60px;
  border-radius: 3rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}



.check-container{
  height: 50px;
  width: 100%;

}

.lbl-switch{
  display: inline-block;
  width: 55px;
  height: 30px;
  background-color: #aaa;
  border-radius: 100px;
  position: relative;
  cursor: pointer;

  margin: auto;

}
#check-box:checked~ .lbl-switch{
  background: #61A0FF;
}

.lbl-switch::after{
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 50%;
  top: 4px;
  left: 5px;
  transition: 0.3s;
}

#check-box:checked~ .lbl-switch::after{
  left: 28px;
}

#check-box{
  display:none;
}

.pokecard{
  width: 200px;
  height: 220px;
  padding: 1rem;

  position: relative;
  margin: 1rem 0;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  color: white;
  text-decoration: none;

  border-radius: 1.3rem;
}
.card-description{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-description>div{
  background-color: rgba(255, 255, 255, 0.261);

  max-width: 88px;
  border-radius: 12px;
  padding: 2px 9px;
  font-size: 14px;
}

.pokecard > img{
  max-width: 85px;
  max-height: 85px;
  position: absolute;
  right: 5px;
  bottom: 10px;
}
.pokemons{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
}
ul{
  list-style: none;
}
.pokemon-full-description{
  width: 100%;
  height: 100%;
  padding: 4rem 15%;
  margin: auto;
  background-color: rgb(112, 205, 177);

  display: grid;
  grid-template-areas: 
  "main  main movements"
  "types abilities movements"
  "stats stats movements"
  ". . movements"
  ;
  gap: 2rem;
}
.pokemon-full-description>div{
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 8px;

  background-color: white;
}

.main-picture{
  width: 200px;
}
.W-and-H{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Name-and-id{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-grid{
  grid-area: main;
}
.second-grid{
  grid-area: types;
  height: 180px;
  justify-content: center;
  gap: 2rem;
}

.third-grid{
  grid-area: abilities;
  height: 150px;
  justify-content: center;
  gap: 2rem;
}

.fourth-grid{
  grid-area: stats;
  
}

.fifth-grid{
  grid-area: movements;
}
.types-full-description,.abilities-full-description{
  display: flex;
  flex-direction: row;
  gap: 14px;
}
.types-full-description>div,.abilities-full-description>div{
  width: 150px;
  height: 50px;
  display:flex;
  border: solid black;
  border-radius: 5px;

  justify-content: center;
  align-items: center;
}