*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3{
  display: inline;
}
.home-container{
  padding-top: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-image-container>img{
  max-width: 130px;
}
.home-image-container{
  display: flex;
}
.home-image-container>h1{
  margin-top: 2rem;
}

.pokedex-container{
  display: flex;
  flex-direction: column;

  margin: 0 15%;
  padding-top: 5rem;
  gap: 2rem;
}
.pokedex-forms{
  padding: 0 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.8rem;
}
.inputs-to-search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#types{
  width: 400px;
  height: 60px;
  border-radius: 3rem;
  padding: 1rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#search-pokemon-name{
  width: 400px;
  height: 60px;
  padding: 1rem;
  border-radius: 3rem 0 0 3rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.search-pokemon{
  width: 50px;
  height: 60px;
  border: none;
  border-radius:0 50% 50% 0%;
  background-color: #0f9de95d;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 22px 70px 0;
}
.hide{
  display: none;
}

.lbl{
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
  background-color: #5bc763;

  border-radius: 100px;
  cursor: pointer;
}

button{
  cursor: pointer;
}

.lbl::after{
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background-color: rgb(238, 238, 238);
  border-radius: 50%;
  position: absolute;
  top: 2.4px;
  left: 3px;
  
  transition: .5s;
}

#switch:checked + .lbl::after{
  left: 27px;
}

#switch:checked + .lbl{
  background-color: rgb(83, 154, 198);
}

.switch-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.pokecard{
  width: 200px;
  height: 220px;
  padding: 1rem;

  position: relative;
  margin: 1rem 0;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  color: white;
  text-decoration: none;

  border-radius: 1.3rem;
}
.card-description{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-description>div{
  background-color: rgba(174, 174, 174, 0.368);

  max-width: 88px;
  border-radius: 12px;
  padding: 2px 9px;
  font-size: 14px;
}
select{
  cursor: pointer;
}
.pokecard > img{
  max-width: 85px;
  max-height: 85px;
  position: absolute;
  right: 5px;
  bottom: 10px;
}
.pokemons{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
}
ul{
  list-style: none;
}
.buttons-page.main{
  margin: auto;
}
.buttons-page{
  display: flex;
  gap: 8px;
}
.button-page{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  margin-bottom: 3rem;

  background-color: rgb(107, 124, 207);
  color: white;
}

.pokemon-details>.header{
  background-color: rgb(112, 205, 177);
  margin: auto;
  padding: 0 15%;
}
.pokemon-image{
  max-width: 300px;
}
.pokemon-full-description{
  width: 100%;
  height: 100%;
  padding: 4rem 15%;
  margin: auto;
  background-color: rgb(112, 205, 177);

  display: grid;
  grid-template-areas: 
  "main  main movements"
  "types abilities movements"
  "stats stats movements"
  ". . movements"
  ;
  gap: 2rem;
}
.pokemon-full-description>div{
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 8px;

  background-color: white;
}

.main-picture{
  width: 200px;
  position: absolute;
  top: -80px;
}
.W-and-H{
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}
.Name-and-id{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-grid{
  grid-area: main;
  position: relative;
  height: 250px;

  justify-content: end;
  padding-bottom: 1rem;
}
.second-grid{
  grid-area: types;
  height: 180px;
  justify-content: center;
  gap: 2rem;
}

.third-grid{
  grid-area: abilities;
  height: 150px;
  justify-content: center;
  gap: 2rem;
}

.fourth-grid{
  grid-area: stats;
  
}

.fifth-grid{
  grid-area: movements;

  padding-top: 2rem;
  width: 230px;
  align-items: center;
}
.fifth-grid>div{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.move{
  width: 100%;
  height: 25px;
  text-align: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.types-full-description,.abilities-full-description{
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.types-full-description>div,.abilities-full-description>div{
  width: 45%;
  height: 50px;
  display:flex;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 5px;

  justify-content: center;
  align-items: center;
}
